@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


/* Apply smooth transitions globally */
@layer base {
    html {
        @apply transition-colors duration-300;
    }

    body {
        @apply transition-colors duration-300;
    }

    * {
        @apply transition-colors duration-200;
    }
}